# Reference Tables and Merging of DataFrame Tables

## 1. Reading the Reference Table

In [1]:
%reset
import pandas as pd

path = (r'C:\Users\TimothyLimChunGao\Documents\GitHub\analytics_platform\4.data_cleanup\4.1.500_500\4.1.1.matching_no_demographics\demographic_500.txt')
with open(path, 'r') as file:
    lines = file.readlines()

# Splitting each line and creating a list of dictionaries
data_list = []
for line in lines:
    values = line.strip().split(',')
    
    for i in range(0, len(values)):
        id1 = values[i][:7]
        id1_age = values[i][7:8]
        id1_gender = values[i][8:9]
        id1_countrycode = values[i][9:10]
        id1_race = values[i][10:11]

        data_list.append({
            'ID': id1,
            'Age': id1_age,
            'Gender': id1_gender,
            'Country Code': id1_countrycode,
            'Race': id1_race
        })
df = pd.DataFrame(data_list)      
df

          ID Age Gender Country Code Race
0    0000001   1      F            1    C
1    0000002   8      F            7    C
2    0000003   4      F            2    I
3    0000004   9      M            3    C
4    0000005   8      M            4    I
..       ...  ..    ...          ...  ...
495  0000496   9      F            3    O
496  0000497   2      M            2    O
497  0000498   5      M            7    I
498  0000499   0      M            8    O
499  0000500   4      F            0    O

[500 rows x 5 columns]

## 2. Reading the Results String

In [ ]:
%reset
import pandas as pd

path = (r'C:\Users\TimothyLimChunGao\Documents\GitHub\analytics_platform\4.data_cleanup\4.1.500_500\4.1.1.matching_no_demographics\F-2023_10_10 17_15_16.00000.txt')
with open(path, 'r') as file:
    lines = file.readlines()

# Splitting each line and creating a list of dictionaries
data_list = []
for line in lines:
    values = line.strip().split(',')
    
    for i in range(0, len(values)):
        id1 = values[i][0:7]
        id2 = values[i][7:14]
        score = values[i][14:18]

        data_list.append({
            'ID1': id1,
            'ID2': id2,
            'Score': score
        })

# Creating a DataFrame from the list of dictionaries
df = pd.DataFrame(data_list)

# Print the DataFrame
#print(df)

#df = pd.DataFrame.filter(ID1, )
#df2 = df.filter(like='0000001', axis=0)
#df2 = df.loc[(df['ID1']=='0000001')] #Filter by specific ID1 number
#df2 = df.loc[(df['ID2']=='0000001')] #Filter by specific ID2 number
#df2 = df.loc[(df['ID1']=='0000001')&(df['ID2']=='0000100')] #Filter by specific ID1 and ID2 number
#df2 = df.loc[(df['Score']=='ZZZZ')] #Filter by specific ID1 and ID2 number
df

            ID1      ID2 Score
0       0000370  0000315  2546
1       0000006  0000315  3576
2       0000376  0000315  0092
3       0000166  0000315  0066
4       0000294  0000315  0136
...         ...      ...   ...
249996  0000496  0000216  1661
249997  0000306  0000216  1606
249998  0000075  0000216  1235
249999  0000186  0000216  1748
250000

[250001 rows x 3 columns]

## 3. Merging the 2 DataFrames Together

In [3]:
%reset
import pandas as pd

path = (r'C:\Users\TimothyLimChunGao\Documents\GitHub\analytics_platform\4.data_cleanup\4.1.500_500\4.1.1.matching_no_demographics\F-2023_10_10 17_15_16.00000.txt')
with open(path, 'r') as file:
    lines = file.readlines()

# Splitting each line and creating a list of dictionaries
data_list = []
for line in lines:
    values = line.strip().split(',')
    
    for i in range(0, len(values)):
        id1 = values[i][:7]
        id2 = values[i][7:14]
        score = values[i][14:18]

        data_list.append({
            'ID1': id1,
            'ID2': id2,
            'Score': score
        })

# Creating a DataFrame from the list of dictionaries
df1 = pd.DataFrame(data_list)

path = (r'C:\Users\TimothyLimChunGao\Documents\GitHub\analytics_platform\4.data_cleanup\4.1.500_500\4.1.1.matching_no_demographics\demographic_500.txt')
with open(path, 'r') as file:
    lines = file.readlines()

# Splitting each line and creating a list of dictionaries
demo_list = []
for line in lines:
    values = line.strip().split(',')
    
    for i in range(0, len(values)):
        id = values[i][:7]
        id_agegroup = values[i][7:8]
        id_gender = values[i][8:9]
        id_countrycode = values[i][9:10]
        id_race = values[i][10:11]

        demo_list.append({
            'ID': id,
            'ID Age Group': id_agegroup,
            'ID Gender': id_gender,
            'ID Country Code': id_countrycode,
            'ID Race': id_race,
        })
df2 = pd.DataFrame(demo_list)

#print(df1)
#print(df2)

#Merging data for ID1
df_merged = pd.merge(df1, df2, left_on='ID1', right_on='ID', how = 'left')
df_merged.drop(df_merged.columns[[3]], axis=1, inplace=True)
neworder = ['ID1','ID Age Group','ID Gender','ID Country Code','ID Race','ID2','Score']
df_merged=df_merged.reindex(columns=neworder)
df_merged.rename(columns={"ID Age Group": "ID1 Age Group", "ID Gender": "ID1 Gender", "ID Country Code": "ID1 Country Code", "ID Race": "ID1 Race"}, inplace = True)

#print(df_merged)

#Merging data for ID2
df_merged2 = pd.merge(df_merged, df2, left_on='ID2', right_on='ID', how = 'left')

df_merged2.drop(df_merged2.columns[[7]], axis=1, inplace=True)
neworder2 = ['ID1','ID1 Age Group','ID1 Gender','ID1 Country Code','ID1 Race','ID2','ID Age Group','ID Gender','ID Country Code','ID Race','Score']
df_merged2=df_merged2.reindex(columns=neworder2)
df_merged2.rename(columns={"ID Age Group": "ID2 Age Group", "ID Gender": "ID2 Gender", "ID Country Code": "ID2 Country Code", "ID Race": "ID2 Race"}, inplace = True)

df_merged2

,ID1,ID1 Age Group,ID1 Gender,ID1 Country Code,ID1 Race,ID2,ID2 Age Group,ID2 Gender,ID2 Country Code,ID2 Race,Score
0,0000370,0,M,3,O,0000315,7,F,8,I,2546
1,0000006,1,M,5,C,0000315,7,F,8,I,3576
2,0000376,8,F,9,I,0000315,7,F,8,I,0092
3,0000166,4,F,2,M,0000315,7,F,8,I,0066
4,0000294,5,F,6,C,0000315,7,F,8,I,0136
...,...,...,...,...,...,...,...,...,...,...,...
249996,0000496,9,F,3,O,0000216,2,F,9,O,1661
249997,0000306,9,M,8,I,0000216,2,F,9,O,1606
249998,0000075,9,M,3,C,0000216,2,F,9,O,1235
249999,0000186,3,F,7,M,0000216,2,F,9,O,1748
250000,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,

In [4]:
import gc

# del df_merged
# del df_merged2
# del df
# del df1
gc.collect()

0